
@media screen and (min-width:300px) {
  #photos {
    display: block;
    margin-left: 2px;
    max-width: 100%;
    margin-top:280px;
  }
  #photos img{
    margin-right:  5px;
    max-width: 100%;
  }

  #home {
    width: 100%;
    margin-top: 233px;
  }

  #textIni {
    max-width: 100%;
    height: auto;
  }

  #textIni2 {
    max-width: 100%;
      height: auto;
  }

  #textIni p {
    position: static;
    top: 244px;
  }

  #textIni3 {
    max-width: 100%;
    height: auto;
  }

  #textIni3 p {
    text-align: center;
  }

  #footer p {
    position: fixed;
  }

/*  .nav li:hover>ul{
      visibility:visible;
  }

  .nav li .sm1{
    visibility: hidden;
    transition:visibility 2s linear;
    -webkit-transition: visibility 2s linear; /* Safari
  } */


}

@media screen and (min-width:700px) {
  #photos {
    display: flex;
    margin-left: 227px;
    max-width: none;
    margin-top: 0px;
  }
  #photos img{
    margin-right:  5px;
    max-width: none;
  }

  #home{
    display: flex;
    z-index: 50;
    justify-content: center;
    max-width: none;
    margin-top: 0px;
  }

  #textIni {
      width: 670px;
      height: 448px;
  }

  #textIni2 {
      width: 670px;
      height: 376px;
  }

  #textIni p {
    position: absolute;
    top: 244px;
  }

  #textIni3 {
      width: 670px;
      height: 448px;
  }

  #textIni3 p {
    text-align: center;
  }

  #footer p {
    position: absolute;
  }


/*  .nav li:hover>ul {
    visibility:visible;
  }

  .nav li .sm1{
    visibility: hidden;
    transition:visibility 1s linear;
    -webkit-transition: visibility 1s linear; /* Safari
  }*/


}


@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
/*
font-family: 'Oxygen', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
  width: auto;
  height: auto;
  margin: 0;
}

#header {
  margin-left: 4px;
  margin-top: 2px;
  width: 15%;
  min-width: 15%;
  position: fixed;
}
#relleno{
  width: 100%;
  height: 36px;
}

p, h1, h2, h3, h4, h5, li {
  font-family: 'Quicksand', sans-serif;
}

#menu {
  z-index: 100;
  display: flex;
  float: left;
  margin-top: 4px;
  position: fixed;
  background-color: white;
  padding: 2px 10px 5px 0;
  margin-left: 4px;
  height: auto;
}


#home{
  display: flex;
  z-index: 50;
  justify-content: center;
}


.nav li{
  color: slategray;
  margin-left: 10%;
  font-size: 14px;
  list-style: none;
  padding-bottom: 5px;
}

/*.nav li:hover>ul {
  visibility:visible;

}
*/
/*.nav li .sm1{
  visibility: hidden;
  transition:visibility 1s linear;
  -webkit-transition: visibility 1s linear; /* Safari
}*/

#sm1 {
  visibility: hidden;
  position: absolute;
  margin-left: 60px;
  background-color: white;
  top: 0px;
  left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 136px;
  min-width: 136px;
}

#footer p {
  font-size: 14px;
  color: darkgray;
  float: left;
  /*position: absolute;*/
  bottom: 4px;
  left: 4px;
}

a{
  color: inherit;
  text-decoration: inherit;
}

#photos{
  align-items: center;
  float: left;
}

#photos img{
  margin-right:  5px;
}

/*#textIni {
    width: 670px;
    height: 448px;
}

#textIni2 {
    width: 670px;
    height: 376px;
}

#textIni p {
  position: absolute;
  top: 244px;
}

#textIni3 {
    width: 670px;
    height: 448px;
}

#textIni3 p {
  text-align: center;
}
*/

#vide {
  display:flex;
  float: left;
  align-items: center;
  margin-left: 227px;
}
#vide iframe{
  margin-right: 5px;
}
